* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}

body {
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

header img {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}

header {
    clear: left;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 100px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 100px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.shadow  {
    text-shadow: 2px 2px 8px #800000;
  }
  
main {
    clear: both;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

main h1 {
    font-size: 150%;
    padding: .3em 0;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .75em .5em .5em .5em;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main a:hover, main a:active {
    font-style: italic;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    width: 599px;
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em .25em;
}

main li {
    padding-bottom: .35em;
}

aside {
    display: block;
    max-width: 35%;
}

aside h2 {
    text-align: left;
    max-width: 200%;
}

article a {
    font-weight: bold;
}

section {
    display: block;
    max-width: 65%;
}

footer {
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
